# SPDX-FileCopyrightText: 2020 microG Team
# SPDX-License-Identifier: CC0-1.0

name: Build

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: adopt
          java-version: 17
          cache: gradle

      - name: Build with Gradle
        run: ./gradlew --no-daemon assembleDebug
        env:
          TERM: dumb
          JAVA_OPTS: -Xmx2048m

      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: android-apk
          path: app/build/outputs/apk/**/*.apk
